* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10% 20%;
  background-color: #f0f0f0;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.inner-carousel {
  display: flex;
  width: fit-content;
  background-color: #0a192f;
}

.item {
  height: 30rem;
  min-width: 20rem;
  padding: 20px;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  pointer-events: none;
  border: 2px solid #f0f0f0;
}
